.container {
    height:20vh;
    background-color:#0d6cb4;
    width: 100%;
    padding: 5vh 90vw 0 10vw;
    margin-bottom: 15vh;
}

.search-container{
    width: 50vw;
    background-color: white;
    height: 10vh;
    align-items: center;
   margin: 2vh 0 0 16vw;
   box-shadow: 2px 2px 1rem 1px #aaaaaa;
}
.search-container>input{
    border: 1px solid  #aaaaaa;
    height: 5vh;
    width: 38vw;
    margin: 2.2vh 0 2vh 2vh;
}
.search-container>button{
    height: 5vh;
    width: 8vw ;
    margin-left: 3.5vh;
    background-color: #0d6cb4;
    border:1px solid  #0d6cb4;
    color: white;
    border-radius: 5px;
}